<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYMeCQjQPEVlmcU7C-8sCNCpEKQisHrvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>256827687821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trioangle</string>
	<key>PROJECT_ID</key>
	<string>trioangle-a3d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>trioangle-a3d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256827687821:ios:3f8c8d4478fa31c67333c4</string>
</dict>
</plist>